.root {
    text-align: center;
    flex-direction: column;
    display: flex;
}

.header {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    background-color: #3f51b5;
    padding: 10px 20px;
    box-shadow: 0 4px 4px #808888;
    flex-direction: row;
}

.body {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}


.icLogout {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    margin-right: 80px;
    cursor: pointer;
}
.imgSetting {
    cursor: pointer;
}
/* ############################# HEADER STYLE BEGIN ################################## */
.profile-menu-container {
    float: right;
    display: grid;
    grid-template-columns: auto auto auto;
}
.profile-menu-container .avatar {
    margin-right: 0;
}
.profile-menu-container .setting-dropDown {
    margin-right: 0;
}